.task-collection__container {
  padding: 20px;

  .task-collection--container__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 110px;

    .divider {
      width: 120px;
      height: 0.5px;
      background-color: lightgray;
    }

    .task-collection--container--inner__add-task {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      input {
        flex: 2;
      }
    }

    .task-collection--container--inner__tasks {
      display: flex;
      flex-direction: column;
      gap: 8px;

      > * {
        cursor: pointer;
      }
    }
  }
}
